In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./pokemon_data.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
df.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [6]:
df.tail(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df_xls = pd.read_excel("pokemon_data.xlsx")

In [8]:
df_xls

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# df_txt = pd.read_csv("pokemon_data.txt")
df_txt = pd.read_csv("pokemon_data.txt", delimiter=" ")
df_txt

In [15]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [20]:
df.columns[1:]

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [33]:
df['Name'][-4:]

796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [28]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [31]:
df.Name[-1:]

799    Volcanion
Name: Name, dtype: object

In [34]:
df[['Name', 'HP', 'Type 1']]

                      Name  HP   Type 1
0                Bulbasaur  45    Grass
1                  Ivysaur  60    Grass
2                 Venusaur  80    Grass
3    VenusaurMega Venusaur  80    Grass
4               Charmander  39     Fire
..                     ...  ..      ...
795                Diancie  50     Rock
796    DiancieMega Diancie  50     Rock
797    HoopaHoopa Confined  80  Psychic
798     HoopaHoopa Unbound  80  Psychic
799              Volcanion  80     Fire

[800 rows x 3 columns]

In [35]:
df[['Name', 'HP', 'Type 1']][:5]

                    Name  HP Type 1
0              Bulbasaur  45  Grass
1                Ivysaur  60  Grass
2               Venusaur  80  Grass
3  VenusaurMega Venusaur  80  Grass
4             Charmander  39   Fire

In [36]:
df.iloc[4]

#                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [37]:
df.iloc[:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [42]:
df.iloc[2,3]

'Poison'

In [44]:
df.iloc[4,3]

nan

In [45]:
df.iloc[4,1]

'Charmander'

In [46]:
df.iloc[3,1]

'VenusaurMega Venusaur'

In [49]:
df.iloc[2,3]

'Poison'

In [51]:
df.iloc[0:2, 0:4]

   #       Name Type 1  Type 2
0  1  Bulbasaur  Grass  Poison
1  2    Ivysaur  Grass  Poison

In [55]:
df.loc[df['HP'] > 198]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [59]:
df.loc[df['HP'] > 98 and df['Attack'] < 20]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [61]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [62]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [63]:
df.sort_values(['Name', 'HP'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [65]:
df.sort_values(['Name', 'HP'], ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [66]:
df.sort_values(['Name', 'HP'], ascending=[False, True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [67]:
df.sort_values(['Name', 'HP'], ascending=[0, 1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [68]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [69]:
df['Total'] = 0

In [70]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,0
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,0
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,0
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,0
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,0

In [71]:
df['Total'] = df['HP'] + df['Attack']

In [72]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,190

In [75]:
df.iloc[:, 4:10]

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    45      49       49       65       65     45
1    60      62       63       80       80     60
2    80      82       83      100      100     80
3    80     100      123      122      120     80
4    39      52       43       60       50     65
..   ..     ...      ...      ...      ...    ...
795  50     100      150      100      150     50
796  50     160      110      160      110    110
797  80     110       60      150      130     70
798  80     160       60      170      130     80
799  80     110      120      130       90     70

[800 rows x 6 columns]

In [76]:
#sum(df.iloc[:, 4:10])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
df.drop(columns=['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [78]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,190

In [79]:
df = df.drop(columns=['Total'])

In [80]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [84]:
df.drop(columns=['Attack', 'HP'])

,#,Name,Type 1,Type 2,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,120,130,90,70,6,True

In [86]:
#sum(df.iloc[:, 4:10])
df.iloc[:, 4:10].sum()

HP         55407
Attack     63201
Defense    59074
Sp. Atk    58256
Sp. Def    57522
Speed      54622
dtype: int64

In [87]:
df.iloc[:, 4:10].sum(axis=1)

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Length: 800, dtype: int64

In [126]:
cols = list(df.columns)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [124]:
df.columns.values

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype=object)

In [108]:
cols[:-1]

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation'], dtype=object)

In [128]:
df[[cols[-1]] + cols[:-1]]

,Legendary,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,False,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1
1,False,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1
2,False,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1
3,False,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1
4,False,4,Charmander,Fire,NaN,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,True,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6
796,True,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6
797,True,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6
798,True,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6
799,True,721,Volcanion,Fire,Water,80,110,120,130,90,70,6

In [119]:
df[cols[:-1]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6

In [130]:
df[cols[-1:] + cols[:-1]]

,Legendary,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,False,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1
1,False,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1
2,False,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1
3,False,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1
4,False,4,Charmander,Fire,NaN,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,True,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6
796,True,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6
797,True,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6
798,True,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6
799,True,721,Volcanion,Fire,Water,80,110,120,130,90,70,6

In [131]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [132]:
df1

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 795     True
 796     True
 797     True
 798     True
 799     True
 Name: Legendary, Length: 800, dtype: bool,
        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
 0      1              Bulbasaur    Grass  Poison  45      49       49
 1      2                Ivysaur    Grass  Poison  60      62       63
 2      3               Venusaur    Grass  Poison  80      82       83
 3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
 4      4             Charmander     Fire     NaN  39      52       43
 ..   ...                    ...      ...     ...  ..     ...      ...
 795  719                Diancie     Rock   Fairy  50     100      150
 796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
 797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
 798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
 799  721              Volcanion     Fire   Water  80     110      120

      Sp. Atk  Sp. Def  Speed  Generation
 0         65       65     45           1
 1         80       80     60           1
 2        100      100     80           1
 3        122      120     80           1
 4         60       50     65           1
 ..       ...      ...    ...         ...
 795      100      150     50           6
 796      160      110    110           6
 797      150      130     70           6
 798      170      130     80           6
 799      130       90     70           6

 [800 rows x 11 columns]]

In [133]:
df.to_csv("mofidied.csv")

In [134]:
df.to_csv("mofidied.csv", index=False)

In [136]:
df.loc[(df['HP'] > 98) & (df['Attack'] < 20)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [137]:
df.loc[(df['HP'] > 98) | (df['Attack'] < 20)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
44,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
96,89,Muk,Poison,NaN,105,105,75,65,100,50,1,False
120,112,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
753,683,Aromatisse,Fairy,NaN,101,72,72,99,89,29,6,False
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [143]:
df.loc[df['HP']>198, 'Legendary'] = False

In [144]:
df.loc[df['HP']>198]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False